{%  extends "header.html" %}

{% block body %}
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Symulator parku maszynowego</h1>
          <p>Aplikacja webowa stworzona w celu sterowania symulacją parku maszynowego oraz preznetacji wyników z symulaotra parku maszynowego</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Symulacja w czasie rzeczywistym</h2>
            <p>Aplikacja odpowdzielana za wystartowanie symulacji czasu rzeczywistego, wraz z akutalnym podglądem parku maszynowego</p>
            <p><a class="btn btn-secondary" href="#" role="button">Idź do apliakcji&raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Prezentacja wyników, generowanie raportów</h2>
            <p>Aplikacja odpowiedzialna za prezetnację wyników z podanego okresu dla wybranych maszyn. Umożliwa również generowanie raportów.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Idź do aplikacji&raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Szybka symulacja, generowanie danych</h2>
            <p>Aplikacja umożliwiająca przprowadzenia szybkiej symulacji, wykorzystywana w celu uzupełnienia bazy danych</p>
            <p><a class="btn btn-secondary" href="#" role="button">Idź do aplikacji&raquo;</a></p>
          </div>
        </div>
      </div>
{% endblock %}